/*-------------------------------------------
Application: SO:KNO
Style: bookmark.css
Company: Live Editions, Inc.
Version: 1.0
-------------------------------------------- -*/

/*-------------------------------------------
HTML ELEMENTS
---------------------------------------------*/

body,
html {
	background: #4c5154;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

/* PARAGRAPHS */

p {
	color: #4c5154;
}

.copyright {
	float: right;
	color: #717375;
}

/* HEADERS */

h1.logo {
	width: 138px;
	height: 24px;
	text-indent: -9999px;
	background: url('../img/image_logo.png') no-repeat 0 0;
	position: relative;
	top: 18px;
	margin-left: 80px;
}

h2 {
	height: 36px;
	font-size: 23px;
	line-height: 36px;
	color: #025f8a;
	margin-bottom: 20px;
}

h2 span.so,
h2 span.kno {
	color: #97b33c;
	text-transform: uppercase;
}

/*-------------------------------------------
NAVIGATION
---------------------------------------------*/

/* FOOTER NAV */

#footer-nav {
	float: left;
}

#footer-nav li {
	display: inline;
	margin-right: 20px;
}

#footer-nav li a {
	font-size: 15px;
	color: #a6a8aa;
	text-decoration: none;
}

#footer-nav li a.current,
#footer-nav li a:hover {
	color: #ffffff;
}

/* IMAGES */

img {
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
}

/*-------------------------------------------
LAYOUT
---------------------------------------------*/

/* PAGE */

#meta-wrapper {
	background: #bbbbbb url('../img/tile_background.jpg') 0 0 repeat;
	margin: auto;
	width: 100%;
}

#header-wrapper {
	background: #4c5154;
}

#header {
	width: 980px;
	height: 60px;
	margin: 0 auto;
}

#page-footer {
	background: #4c5154;
	min-height: 120px;
}

#footer-content {
	width: 900px;
	margin: 0px auto;
	padding: 20px 0 0 80px;
}

/*  BOOKMARK  */

#bookmark-wrapper {
	margin: 20px auto;
	width: 980px;
}

#bookmark {
	background: #efefef;
	margin: 0 auto;
	width: 600px;
	padding: 20px;
	position: relative;
	left: 40px;
}

#bookmark div {
	border-bottom: 1px solid #d2d4d4;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

#bookmark p {
	color: #4c5154;
	font-size: 15px;
	margin-bottom: 4px;
}

#bookmark p.url {
	color: #025f8a;
	font-size: 15px;
	margin-bottom: 16px;
	font-style: italic;
}

#bookmark p a {
	color: #025f8a;
	font-size: 15px;
	text-decoration: none;
}

#bookmark p a:hover {
	color: #97b33c;
	text-decoration: underline;
}

#bookmark p.book-button {
	float: left;
	margin-top: 16px;
}

/* ASMSELECT */

.asmContainer {
	
}

.asmSelect {
	display: inline;
	margin-bottom: 10px;
}

.asmOptionDisabled {
	color: #97b33c;
}

.asmHighlight {
	padding: 0;
	margin-left: 20px;
	color: #97b33c;
}

.asmList {
	position: relative;
	display: block;
	padding-left: 0;
	list-style: none;
}

.asmListItem {
	list-style: none; 
	margin-left: 0;
    padding-left: 0;
	position: relative;
	margin-bottom: 4px;
	width: 100%;
	background: #d2d4d4;
}

/*
.asmListItem:hover {
	background: #797d7f;
	color: #ffffff;
}

.asmListItemLabel:hover {
	color: #ffffff;
}
*/

.asmListItemLabel {
	color: #4c5154;
	padding: 10px;
	display: block;
	text-transform: uppercase;
}

.asmListSortable .asmListItemLabel {
	cursor: move;
}

.asmListItemRemove {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;
}

/*-------------------------------------------
FORMS
---------------------------------------------*/

/* INPUT */

input#title,
input#tag-content,
input#tag-community {
	background: #ffffff;
	border: 1px solid #d2d4d4;
	width: 578px;
	height: 14px;
	padding: 10px;
	color: #a6a8aa;
	font-size: 15px;
}

input#tag-community {
	margin-bottom: 10px;
}

input#book-button {
	color: #4c5154;
	background: #d2d4d4;
	text-transform: uppercase;
	border: none;
	width: 100px;
	height: 34px;
}

input#book-button:hover {
	color: #ffffff;
	background: #797d7f;
	cursor: pointer;
}

/*-------------------------------------------
CLEAR
---------------------------------------------*/

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}